<div *ngIf="topic">
    <div id="topic-title-header">
        <h2>{{ topic.title }}</h2>
        <button mat-raised-button color="primary" (click)="onRefreshMessages(true)">Actualiser les messages</button>
    </div>
    
    <p id="topic-infos">{{ topic | topicInfos }}</p>
    
    <ul>
        <li *ngFor="let message of topic.messages" class="boite">
            <span *ngIf="connectedUser.username===message.author.username" class="currentuser">
                <h3>{{ message | messageInfos }}</h3>

                <p [innerHTML] =  "message | messageStyle" > </p>
            
            </span>

            <span *ngIf="connectedUser.username!=message.author.username" class="otheruser">
                <h3>{{ message | messageInfos }}</h3>
        
                <p [innerHTML] =  "message | messageStyle" > </p>
            </span>

            <mat-form-field *ngIf="editedMessage === message">
                <mat-label>Titre</mat-label>
                <input type="text" matInput required [formControl]="editMessageControl">
                <mat-error *ngIf="editMessageControl.invalid">{{ getErrorMessage("editedMessage") }}</mat-error>
            </mat-form-field>

            <span *ngIf="connectedUser.admin===true && connectedUser.id!==message.author.id" class="action-buttons-admin-container">
                <button mat-raised-button color="warn"  (click)="onDeleteMessage(message)">Supprimer</button>
            </span>

            <span *ngIf="connectedUser.id===message.author.id " class="action-buttons-container">
                <button mat-raised-button color="primary" *ngIf="editedMessage !== message && connectedUser.id===message.author.id" (click)="onChangeEditedMessage(message)">Modifier</button>
                <button mat-raised-button color="accent" *ngIf="editedMessage === message && connectedUser.id===message.author.id" (click)="onEditMessage(message)">Enregistrer</button>
                <button mat-raised-button color="warn" *ngIf="connectedUser.id===message.author.id"  (click)="onDeleteMessage(message)">Supprimer</button>
            </span>

        </li>
    </ul>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="connectedUser">
    <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea type="text" matInput cdkTextareaAutosize required formControlName="content"></textarea>
        <mat-error *ngIf="true">{{ getErrorMessage('content') }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" id="message-form-button">Répondre au sujet</button>
</form>